.formulario {
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(14, 13, 13, 0.1);
  &__titulo {
    text-transform: capitalize;
    color: var(--primary);
  }
  width: 40%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;


}
.container{
  display: flex;
  align-items: center;
}

.form-field {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  color: var(--primary);

  &__label {
    color: inherit;
    margin-bottom: 4px;
    font-size: 12px;
  }

  &__input {
    padding: 12px;
    border-radius: 6px;
    color: inherit;
    border: 4px solid;
    outline: none;
  }
}

.botao-wrapper {
  display: flex;
}

.botao {
  background-color: green;
  color: rgb(252, 250, 250);
  display: block;
  flex: 1;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  padding: 0.5em;
  cursor: pointer;
  transition: opacity 0.2s;

  &--cancelar {
    background-color: green;
    margin-left: 15px;
  }

  &:hover {
    opacity: 0.8;
  }
}
